
.jumbotron {
  height: 400px;
  background-image: url("https://images.pexels.com/photos/2524874/pexels-photo-2524874.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;
  border-radius: 0rem 0rem .3rem .3rem !important;
}

.title {
	margin-top: 2vh;
	font-size: 1.3em;
}
